costmap:
  costmap:
    ros__parameters:
      global_frame: map
      robot_base_frame: base_link
      update_frequency: 5.0
      publish_frequency: 2.0
      rolling_window: true
      width: 10
      height: 10
      resolution: 0.05
      
      plugins: ["obstacle_layer", "inflation_layer"]
      
      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"
        enabled: True
        observation_sources: yolo_cloud
        yolo_cloud:
          topic: /yolo/obstacle_cloud
          sensor_frame: camera_link_optical
          data_type: "PointCloud2"
          clearing: True
          marking: True
          raytrace_range: 20.0
          obstacle_range: 15.0
          min_obstacle_height: -2.0  # Allow points below the robot
          max_obstacle_height: 2.0   # Allow points above the robot
          
      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        inflation_radius: 0.55
        cost_scaling_factor: 3.0

# ==========================================================
# 2. GLOBAL COSTMAP (The "Memory" Map)
# Used for: Path planning around things we saw previously
# ==========================================================
global_costmap:
  global_costmap:
    ros__parameters:
      global_frame: map           # Must be fixed frame
      robot_base_frame: base_link
      update_frequency: 1.0       # Slower update is fine
      publish_frequency: 1.0
      rolling_window: false       # CHANGE TO FALSE: Static map
      width: 50.0                 # Must cover your whole area
      height: 50.0
      resolution: 0.05
      
      plugins: ["static_layer", "obstacle_layer", "inflation_layer"]

      # Optional: If you have a map.pgm/yaml, keep this. If not, remove "static_layer" from plugins
      static_layer:
        plugin: "nav2_costmap_2d::StaticLayer"
        map_subscribe_transient_local: True
      
      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"
        enabled: True
        observation_sources: yolo_cloud
        yolo_cloud:
          topic: /yolo/obstacle_cloud
          sensor_frame: camera_link_optical
          data_type: "PointCloud2"
          clearing: False         # <--- THE MAGIC SAUCE: Never forget
          marking: True
          obstacle_range: 15.0
          raytrace_range: 20.0
          min_obstacle_height: -2.0  # Allow points below the robot
          max_obstacle_height: 2.0   # Allow points above the robot

      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        inflation_radius: 0.55
        cost_scaling_factor: 3.0