# --------------------------------------------------------
# Configuration for YOLO 3D Stack
# --------------------------------------------------------

# Node 1: YOLOv11 Object Detection (Performs 2D -> 3D Projection)
yolo11_node:
  ros__parameters:
    camera_topic: "/camera/image_raw"
    depth_topic: "/depth/image_raw"    # <--- CRITICAL: Needed for 3D fusion
    model_path: "/home/mecatron/yolo11n.onnx" 
    confidence_threshold: 0.75
    
    # Camera Intrinsics (MOVED HERE: This node does the math)
    fx : 555.715735370142
    fy : 555.6151962989876
    cx : 346.7216404016699
    cy : 239.7857718290915

# MOdified Node 1: YOLOv11 TensorRT Object Detection (Performs 2D -> 3D Projection)
yolo11_trt:  # <--- MATCH THIS with your launch file node name
  ros__parameters:
    camera_topic: "/camera/image_raw"
    depth_topic: "/depth/image_raw"
    
    engine_path: "/home/mecatron/Yolo11_DepthAnything_WS/src/yolo3d_stack/models/yolo11n-seg.engine" 
    
    confidence_threshold: 0.75
    
    # Intrinsics
    fx : 555.715735370142
    fy : 555.6151962989876
    cx : 346.7216404016699
    cy : 239.7857718290915

    # Underwater Camera Adjustments (Uncomment if needed)
    # Approximate 1.33x zoom effect of water
    #fx: 740.5 
    #fy: 740.5
    # Lower confidence for murky water
    #confidence_threshold: 0.50


# Node 2: Depth Anything V2 (Generates Depth Map)
depth_anything_node:
  ros__parameters:
    camera_topic: "/camera/image_raw"
    output_topic: "/depth/image_raw"
    model_path: "/home/mecatron/depth_anything_v2_vits.onnx" 
    input_width: 518
    input_height: 518
    use_cuda: true
    depth_factor: 0.75 # Adjust this: 1.0 = raw output, higher = further distance

# Node 3: Fusion / BEV (Visualizes Top-Down View)
fusion_bev_node:
  ros__parameters:
    detections_3d_topic: "/yolo3d/detections" # <--- Fixed name to match C++
    
    # BEV Settings
    bev_size: 700           # <--- Fixed name (Square canvas)
    meters_to_pixels: 100.0 # <--- Fixed name: 1 meter = 100 pixels

# Node 4: 3D Markers (For Rviz Visualization)
yolo3d_markers_node:
  ros__parameters:
    # Note: Topic names are currently hardcoded in cpp, 
    # but this block keeps ROS 2 happy.
    use_sim_time: false

# Node 5: Pointcloud Generator
depth_to_pointcloud_node:
  ros__parameters:
    depth_topic: "/depth/image_raw"
    cloud_topic: "/depth/pointcloud"
    fx : 555.715735370142
    fy : 555.6151962989876
    cx : 346.7216404016699
    cy : 239.7857718290915

    pixel_step: 2  # Higher = Faster, Lower = More dense


# Node 6: Depth Anything TensorRT 
depth_anything_trt_node:
  ros__parameters:
    camera_topic: "/camera/image_raw"
    engine_path: "/home/mecatron/Yolo11_DepthAnything_WS/src/yolo3d_stack/models/depth_anything_v2_vits_fp16.engine"
    output_topic: "/depth/image_raw"
    input_width: 518
    input_height: 518
    use_gpu: true
    max_depth_m: 1.275
    do_calibration: false
    target_distance_m: 1.0
    calibration_samples: 30